<div id="loadingBox">
  <div class="text-center">
    <img
      src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/b/b3/Compass_JE3_BE3.gif"
      alt="Loading..."
      width="50"
    />
    <br />
    <span class="text-white fw-bold">Loading...</span>
  </div>
</div>
