<div id="loadingBox">
  <div class="text-center">
    <img
      src="/images/compass-loading.gif"
      alt="Loading..."
      width="50"
    />
    <br />
    <span class="text-white fw-bold">Loading...</span>
  </div>
</div>
