<!-- The Modal -->
<div class="modal fade" id="registerBox">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="text-center">
          <h4 class="modal-title fw-bold">Đăng ký tài khoản thành viên để dùng thêm nhiều tiện ích!</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form onsubmit="onRegisterBoxSubmit(event);">
          <div class="mb-3 mt-3">
            <label for="register-username" class="form-label">Tên người dùng (<span class="text-danger fw-bold">*</span>):</label>
            <input
              type="text"
              class="form-control"
              id="register-username"
              placeholder="Nhập tên đăng nhập mong muốn"
              name="register-username"
              required
              maxlength="255"
            />
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password (<span class="text-danger fw-bold">*</span>):</label>
            <input
              type="password"
              class="form-control"
              id="register-pwd"
              placeholder="Nhập mật khẩu"
              name="register-pwd"
              required
              maxlength="255"
            />
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Nhập lại Password (<span class="text-danger fw-bold">*</span>):</label>
            <input
              type="password"
              class="form-control"
              id="register-repwd"
              placeholder="Nhập lại mật khẩu"
              name="register-repwd"
              required
              maxlength="255"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email (có thể bỏ qua):</label>
            <input
              type="email"
              class="form-control"
              id="register-email"
              placeholder="Nhập địa chỉ email"
              name="register-email"
              maxlength="255"
            />
          </div>
          <div class="my-3 small text-info text-center">
            <div><i class="fa-solid fa-reply-all"></i> Chúng tui sẽ gửi link xác thực tới email của bạn.</div>
            <div>
              <span class="d-block">Khuyến Khích Xác Thực <span class="crs" data-bs-toggle="tooltip" title="Xác thưc email ngay bước đăng ký này giúp bảo vệ tài khoản của bạn khỏi rủi ro bảo mật và toàn vẹn chức năng người dùng">🤚</span></span>
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary">Đăng ký</button>
        </form>
        <hr />
        <button class="btn btn-light border my-1" type="button" onclick="reShowLoginBox();">
          <img
            src="https://www.inventicons.com/uploads/iconset/2360/wm/512/User-Login-2-48.png"
            alt="Google Icon"
            width="20"
            height="20"
            class="me-2"
          />
          Đã có tài khoản?
        </button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<script>
  function reShowLoginBox() {
    $('#registerBox').modal('toggle')
    $('#loginBox').modal('toggle')
  }

  async function onRegisterBoxSubmit(e) {
    e.preventDefault()

    const username = document.getElementById('register-username').value
    const email = document.getElementById('register-email').value
    const pwd = document.getElementById('register-pwd').value
    const repwd = document.getElementById('register-repwd').value

    // Validation
    const usernameRegex = /^[a-zA-Z0-9_-]{3,16}$/
    if(!usernameRegex.test(username)) {
      toastr.error('Tên đăng nhập chưa hợp lệ.', 'Lỗi!')
      document.getElementById('register-username').focus()
      return false
    }
    if(email) {
      const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
      if (!emailRegex.test(email)) {
        toastr.error('Email sai định dạng.', 'Lỗi!')
        document.getElementById('register-email').focus()
        return false
      }
    }

    if (repwd !== pwd) {
      toastr.error('Mật khẩu nhập lại chưa giống nhau.', 'Lỗi!')
      document.getElementById('register-repwd').focus()
      return false
    }

    const encryptedPassword = await window.encryptPasswordSHA256(pwd);

    const data = {
      // json data
      username: username,
      email: email,
      password: encryptedPassword,
    }

    console.log('data=',data);

    $.ajax({
      url: '/register',
      method: 'POST',
      data: data,
      success: function (response) {
        console.log('Phản hồi từ máy chủ:', response)
        swal({
          title: response.title,
          text: response.text,
          icon: response.icon,
        })
      },
      error: function (error) {
        console.error('Lỗi:', error)
        toastr.error(error.message, 'Lỗi');
      },
    })
    return false
  }
</script>
