@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
}

.violet {
  color: blueviolet;
}

.borrow {
  color: rgb(15, 8, 8);
}

body {
  background-image: url('/images/minecraft-bg-sea.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#nav {
  background-image: url('/images/wood-bg.jpg');
}

#content {
  background-image: url('/images/oak-plank-bg.png');
}

#pleft {
  color: rgb(245, 244, 244);
}
