<div class="modal fade" id="ckeditorBox">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <input
            type="text"
            name="ck_title"
            id="ck_title"
            class="form-control"
            placeholder="Nhập tiêu đề hiển thị cho bài đăng.."
          />
          <div id="editor"></div>
          <div class="w-100 text-end pt-4">
            <button class="btn btn-light borrow border border-dark fw-bold" type="button" onclick="postEvent();">
              Đăng sự kiện
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const toolbarOptions = [['bold', 'italic'], ['link', 'image']];
  const quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      toolbar: toolbarOptions
    }
  });
</script>
<script>
  function postEvent() {
    const delta = quill.getContents();
    // const imageBase64 = extractImageFromDelta(delta);
    const hiddenDiv = document.createElement('div');
    hiddenDiv.style.display = 'none';
    const tempQuill = new Quill(hiddenDiv);
    tempQuill.setContents(delta);
    const htmlContent = hiddenDiv.innerHTML;
    window.showLoadingBox()
    const content = htmlContent;
    const title = $('#ck_title').val()
    const formData = { title, content }
    $.ajax({
      url: '/postings',
      method: 'POST',
      data: formData,
      success: (sweetResponse) => {
        swal({
          title: sweetResponse.title,
          text: sweetResponse.text,
          icon: sweetResponse.icon,
        }).then(() => {
          window.location.href = window.location.href
        })
      },
      error: (error) => {
        console.error('error=', error.message)
      },
      complete: () => {
        window.hideLoadingBox()
      },
    })
  }
</script>
