### env dev ###
GOOGLE_CLIENT_ID=369235292137-0508fkrqq5su6unmts43f04dde1tlsuf.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://nhinguyen.tech/oauth/google/callback
ADMINISTRATOR_CONTACT_URL=https://www.facebook.com/taiproduaxe
PORT=443

SERVER_DOMAIN=myserver.com
SERVER_NAME=myserver
SERVER_IPV4=play.hypixel.net
SERVER_PORT=25565
SERVER_TYPES=skyblock,prison

# Integrate with VNPAY
VNP_TMNCODE=PGM6BEWA
VNP_HASHSECRET=CZTEEIPMKEAMZZCYNJRNURPJGVYLVCHJ
VNP_RETURNURL=https://erukascholar/ibanking/vnpay_return
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_URL_BANKLIST=https://sandbox.vnpayment.vn/qrpayauth/api/merchant/get_bank_list

# Integrate with GAMEBANK
# GB_URL=https://sv.gamebank.vn/payment/test
GB_URL=https://sv.gamebank.vn/payment/api
GB_CHECK_URL=https://sv.gamebank.vn/payment/check
GB_USERNAME=taiproduaxe
GB_PASSWORD=gp5e8bf43b079001586230331

# Integrate with TST
TST_GET_PROVIDER_URL=https://thesieutoc.net/topup/discount
TST_URL=https://thesieutoc.net/chargingws/v2
TST_APIKEY=645891E29865805273E62938A993956E

### MONGODB CONNECTION ###
MONGODB_URI=mongodb://sa:sapassword@localhost:27017/admin

### MINIO CONNECTION ###
MINIO_ENDPOINT=localhost
# MINIO_ENDPOINT=minio
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_PORT=9000

### MYSQL CONNECTION ###
# MYSQL_HOST=mysql
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_DATABASE=main
MYSQL_PORT=3306
MYSQL_PASSWORD=